$primary-text-color: rgb(82, 86, 89);
$secondary-text-color: rgb(19, 20, 20);
$header-text-color: rgb(255, 255, 255);
$background-color: rgb(255, 255, 255);
$disabled-color: rgb(163, 150, 150);
$box-shadow-basic: rgb(186, 186, 189);
$box-shadow-call-to-action: rgb(0, 250, 154);
$box-shadow-card: rgba(66, 68, 90, 1);
$offer-background-color: rgb(252, 252, 252);
$footer-background-color: rgb(247, 243, 243);
$contact-background-color: rgb(0, 128, 0);