@use './colors' as color;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: color.$background-color;
	min-height: 100vh;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section-title {
	padding: 1.5em 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.07em;
	font-weight: normal;
	font-size: 3.5rem;
}

ul {
	list-style-type: none;
}

i {
	color: color.$icon-color-green;
}

/*-----------------navigation----------------*/

.nav {
	// display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	line-height: 8rem;
	background-color: color.$background-color;
	z-index: 10;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
	}

	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 3rem;
	}

	&__text {
		margin-left: 0.2em;
		color: color.$secondary-text-color;
	}

	&__icon {
		margin-left: 0.5em;
		color: color.$primary-text-color;
	}

	&__ul {
		display: flex;
		justify-content: center;
		align-items: center;

		a {
			padding: 0 1.5em;
			text-decoration: none;
			font-size: 1.7em;
			color: color.$secondary-text-color;
			transition: color 0.2s, background-color 0.2s;
		}

		a:hover {
			background-color: #000;
			color: #fff;
		}
	}
}

//--------------main content contact-----------//

main {
	position: relative;
	left: 0;
	margin-top: 8em;
	padding-bottom: 8em;
	background-color: color.$offer-background-color;

	//-----------------------------OFFER------------------------------//

	.contact {
		.section-title {
			padding-bottom: 0.2em;
		}

		p {
			text-align: center;
			letter-spacing: 0.07em;
			font-size: 1.7rem;
			padding-bottom: 0.8em;
		}

		&__box {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 70vh;
		}

		&__form {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			width: 50%;
			height: 100%;
			padding: 2em;

			&-field {
				position: relative;
				width: 100%;
			}

			&-label {
				position: absolute;
				top: 0;
				left: 1.5em;
				padding: 0 0.6em;
				line-height: 4.5rem;
				font-size: 1.5rem;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				transition: 0.2s ease;
				cursor: text;
			}

			&-input {
				width: 100%;
				height: 4.5rem;
				padding: 0 1.5em;
				font-size: 1.6rem;
				border-radius: 0.8rem;
				background-color: transparent;
				outline: none;

				&:not(:placeholder-shown) + label,
				&:focus + label {
					height: 2.5rem;
					line-height: 2.5rem;
					transform: translate(-0.4rem, -1.5rem);
					font-size: 1.3rem;
					background-color: color.$contact-background-color;
					outline: none;
				}
			}

			&-textarea {
				width: 100%;
				height: 20vh;
				padding: 1rem 1.5em;
				font-size: 1.6rem;
				border-radius: 0.8rem;
				resize: none;
				outline: none;

				&:not(:placeholder-shown) + label,
				&:focus + label {
					height: 2.5rem;
					line-height: 2.5rem;
					transform: translate(-0.4rem, -1.5rem);
					font-size: 1.3rem;
					background-color: color.$contact-background-color;
					outline: none;
				}
			}
		}

		&__map {
			height: 100%;
			width: 50%;
			padding: 2em 0.2em;
		}

		&__buttons {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
		}

		&__button {
			padding: 1em 2em;
			font-size: 1.6rem;
			text-transform: uppercase;
			background-color: transparent;
			border-radius: 0.8rem;
			box-shadow: 5px 5px 5px 0px color.$box-shadow-basic;
			background-color: transparent;
			border: none;
			transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
			cursor: pointer;

			&:hover {
				background-color: color.$offer-button-color;
				box-shadow: none;
				color: #fff;
			}
		}

		&__info {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
		}
	}
}

.addinfo {
	// position: relative;
	// top: 100vh;
	left: 0;
	background-color: #f7f3f3;
	width: 100%;

	.wrapper-addinfo {
		display: flex;
		justify-content: space-between;
		max-width: 992px;
		padding-top: 4em;
		margin: 0 auto;

		&__logo {
			width: 50%;
			font-size: 5rem;
			&--icon {
				color: color.$primary-text-color;
			}
			&--text {
				margin-left: 0.2em;
				color: color.$secondary-text-color;
			}
		}

		&__more-content {
			display: flex;
			justify-content: space-between;
			width: 50%;

			&--heading {
				font-size: 2.5rem;
			}

			a {
				display: block;
				margin: 1em 0;
				padding: 0.5em 0;
				font-size: 1.5rem;
				text-decoration: none;
				color: color.$primary-text-color;
			}
		}
	}

	&__foot {
		padding: 1.5em 0;
		font-size: 1.5rem;
		text-align: center;
		border-top: 1px solid black;
	}
}
